* {
    background-color: #333333;
    color: #AAAAAA;
    border: 2px solid #303030;
    padding: 3px;
    border-radius: 2px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    box-shadow: 1px 1px 1px #000000;
}

QLabel#positionLabel {
    font-size: 16px;
}

QLabel#durationLabel {
    font-size: 16px;
}

QLabel#infoBarLabel {
    font-size: 16px;
}

QButton {
    font-size: 18px;
}
